<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EJBBookClient</display-name>
  <welcome-file-list>
    <welcome-file>addStudent.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PrintBook</display-name>
    <servlet-name>PrintBook</servlet-name>
    <servlet-class>org.afroz.practice.servlet.PrintBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintBook</servlet-name>
    <url-pattern>/PrintBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentClient</display-name>
    <servlet-name>StudentClient</servlet-name>
    <servlet-class>org.afroz.practice.servlet.StudentClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentClient</servlet-name>
    <url-pattern>/StudentClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStudent</display-name>
    <servlet-name>RegisterStudent</servlet-name>
    <servlet-class>org.afroz.practice.servlet.RegisterStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudent</servlet-name>
    <url-pattern>/RegisterStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStudentServ</display-name>
    <servlet-name>RemoveStudentServ</servlet-name>
    <servlet-class>org.afroz.practice.servlet.RemoveStudentServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudentServ</servlet-name>
    <url-pattern>/RemoveStudentServ</url-pattern>
  </servlet-mapping>
</web-app>